<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HSIOEC_EtpEnterpriseSoap"/>        
        <binding name="HSIOEC_SkuPluSoap"/>
        <binding name="HSIOEC_SkuPluExSoap"/>
      </basicHttpBinding>
    </bindings>
    
    <client>     
      <!--用IIS服务器IP和端口号替换以下地址对应的IP和端口号即可 如: http:// 10.16.13.194:8001 替换为 http://192.168.1.5:809-->
      
      <endpoint address="http://10.16.13.194:8001/HSIOEC_EtpEnterprise.asmx" binding="basicHttpBinding" bindingConfiguration="HSIOEC_EtpEnterpriseSoap" contract="HSIOEC_EtpEnterpriseSoap" name="HSIOEC_EtpEnterpriseSoap"/>
      
      <endpoint address="http://10.16.13.194:8001/HSIOEC_SkuPlu.asmx" binding="basicHttpBinding" bindingConfiguration="HSIOEC_SkuPluSoap" contract="HSIOEC_SkuPluSoap" name="HSIOEC_SkuPluSoap"/>
      
      <endpoint address="http://10.16.13.194:8001/HSIOEC_SkuPluEx.asmx" binding="basicHttpBinding" bindingConfiguration="HSIOEC_SkuPluExSoap" contract="HSIOEC_SkuPluExSoap" name="HSIOEC_SkuPluExSoap"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
